
html, body {
    font-family: Aptos;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar, .footer{
    background-color: #156082;
}

.navbarLogo {
    height: 29px;
    width: 85px;
}

.navbarItems {
    left: 790px;
}

.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
}

.titleBar {
    height: 150px;
    width: 1280px;
    background-color: #BED3DC
}

.heading2 {
    top: 20px;
    left: 590px;
}

.text2 {
    top: 15px;
    left: 400px;
}

.text3 {
    top: 30px;
    left: 30px;
}

.loginWallpaper {
    height: 2000px;
    width: 65%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginLogo {
    height: 50px;
    width: 140px;
    top: -1900px;
    left: 910px;
}

.heading3 {
    top:  -1850px;
    left: 905px;
}

.loginForm {
    width: 420px;
    top: -1800px;
    left: 765px;
}

.formLabel1 {
    top: -10px;
}

.formField2 {
    top: 40px;
}

.formLabel2 {
    top: 30px;
}

.loginButton {
    height: 70px;
    width: 250px;
    top: 100px;
    left: 95px
}

.footer {
    top: 1000px;
    margin: 0;
}

.IGLogo {
    height: 43px;
    width: 43px;
}

.FBLogo {
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

.XLogo {
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

.navbar-nav li:hover {
    background-color: #BED3DC;
}
